server:
  port: 1026

bootstrap:
  servers: localhost:9092
  
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

directDbConnection: true
#if directDbConnection is false then properties below are not used {{{
spring:
  cloud:
    stream:
      kafka:
        binder:
          brokers: localhost:9092
  datasource:
    url: jdbc:postgresql://localhost:5432/ngb?ApplicationName=ngb_querymanager
    username: ngb
    password: ngb
    hikari: 
      minimumIdle: 5
      maximumPoolSize: 20
      idleTimeout: 30000
      poolName: SpringBootHikariCP
      maxLifetime: 2000000
      connectionTimeout: 30000
#}}}