apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: storage-manager
  name: storage-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      service: storage-manager
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        service: storage-manager
    spec:
      containers:
      - image: scorpiobroker/scorpio:StorageManager_latest
        imagePullPolicy: Always
        name: storage-manager
        ports:
        - containerPort: 1029
          protocol: TCP
        readinessProbe:
          exec:
            command:
            - sh
            - -c
            - curl --silent http://localhost:1029/actuator/health | grep --quiet -e
              '^{\"status\"\:\"UP\".*}$'
          failureThreshold: 7
          initialDelaySeconds: 25
          periodSeconds: 5
        resources:
          limits:
            cpu: 500m
            memory: 1280Mi
          requests:
            cpu: 250m
            memory: 600Mi
      restartPolicy: Always
      serviceAccountName: ""
status: {}
