apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: storage-manager
  name: storage-manager
  namespace: scorpio-broker
spec:
  replicas: 1
  selector:
    matchLabels:
      service: storage-manager
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        service: storage-manager
    spec:
      containers:
      - image: scorpiobroker/scorpio:StorageManager-no-eureka_latest
        imagePullPolicy: Always
        name: storage-manager
        ports:
        - containerPort: 1029
          protocol: TCP
        lifecycle:
           preStop:
            exec:
              command:
              - /bin/sh
              - -c
              - curl -X PUT "http://eureka:8761/eureka/apps/STORAGE-MANAGER/$HOSTNAME:storage-manager:1029/status?value=OUT_OF_SERVICE"
        readinessProbe:
          exec:
            command:
            - sh
            - -c
            - curl --silent http://localhost:1029/actuator/health | grep --quiet -e
              '^{\"status\"\:\"UP\".*}$'
          failureThreshold: 10
          initialDelaySeconds: 20
          periodSeconds: 5

        livenessProbe:
          exec:
            command:
            - sh
            - -c
            - curl --silent http://localhost:1029/actuator/health | grep --quiet -e
              '^{\"status\"\:\"UP\".*}$'
          initialDelaySeconds: 20
          periodSeconds: 5


        resources:
          limits:
            cpu: 500m
            memory: 1280Mi
          requests:
            cpu: 250m
            memory: 600Mi
      restartPolicy: Always
      serviceAccountName: ""
status: {}
