version: '3'

services:
  zookeeper:
    image: zookeeper
    ports:
      - "2181"
  kafka:
    image: bitnami/kafka
    ports:
      - "9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_LOG_RETENTION_MS: 10000
      KAFKA_LOG_RETENTION_CHECK_INTERVAL_MS: 5000
      ALLOW_PLAINTEXT_LISTENER: "yes"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - zookeeper
  postgres:
    image: postgis/postgis
    ports:
      - "5432"
    environment:
      POSTGRES_USER: ngb
      POSTGRES_PASSWORD: ngb
      POSTGRES_DB: ngb
  emgr:
    image: scorpiobroker/entity-manager:java-kafka-latest
    environment:
      DBHOST: postgres
      BUSHOST: kafka
      QUARKUS_EUREKA_SERVICE-URL_DEFAULT: "http://eureka:8761/eureka"
    ports:
      - "1025:1025"
    depends_on:
      - kafka
  histemgr:
    image: scorpiobroker/history-entity-manager:java-kafka-latest
    environment:
      DBHOST: postgres
      BUSHOST: kafka
      QUARKUS_EUREKA_SERVICE-URL_DEFAULT: "http://eureka:8761/eureka"
    ports:
      - "1040:1040"
    depends_on:
      - kafka
  histqmgr:
    image: scorpiobroker/history-query-manager:java-kafka-latest
    environment:
      DBHOST: postgres
      BUSHOST: kafka
      QUARKUS_EUREKA_SERVICE-URL_DEFAULT: "http://eureka:8761/eureka"
    ports:
      - "1041:1041"
    depends_on:
      - kafka
  at-context-server:
    image: scorpiobroker/at-context-server:java-kafka-latest
    environment:
      DBHOST: postgres
      BUSHOST: kafka
      QUARKUS_EUREKA_SERVICE-URL_DEFAULT: "http://eureka:8761/eureka"
    ports:
      - "1042:1042"
    depends_on:
      - kafka
  qrymgr:
    image: scorpiobroker/query-manager:java-kafka-latest
    environment:
      DBHOST: postgres
      BUSHOST: kafka
      QUARKUS_EUREKA_SERVICE-URL_DEFAULT: "http://eureka:8761/eureka"
    ports:
      - "1026:1026"
    depends_on:
      - kafka
      - postgres
  regmgr:
    image: scorpiobroker/registry-manager:java-kafka-latest
    environment:
      DBHOST: postgres
      BUSHOST: kafka
      QUARKUS_EUREKA_SERVICE-URL_DEFAULT: "http://eureka:8761/eureka"
    ports:
      - "1030:1030"
    depends_on:
      - kafka
      - postgres
  regsbsmgr:
    image: scorpiobroker/registry-subscription-manager:java-kafka-latest
    environment:
      DBHOST: postgres
      BUSHOST: kafka
      QUARKUS_EUREKA_SERVICE-URL_DEFAULT: "http://eureka:8761/eureka"
    ports:
      - "2025:2025"
    depends_on:
      - kafka
      - postgres
  sbsmgr:
    image: scorpiobroker/subscription-manager:java-kafka-latest
    environment:
      DBHOST: postgres
      BUSHOST: kafka
      QUARKUS_EUREKA_SERVICE-URL_DEFAULT: "http://eureka:8761/eureka"
    ports:
      - "2026:2026"
    depends_on:
      - kafka