server:
  port: 2025


atcontext:
  url: http://localhost:9090/ngsi-ld/contextes/

#Entity-Manager topics properties
entity:
  topic: ENTITY
  create:
    topic: ENTITY_CREATE
  append:
    topic: ENTITY_APPEND
  update:
    topic: ENTITY_UPDATE
  delete:
    topic: ENTITY_DELETE
    
csource:
  registry:
    topic: CSOURCE_REGISTRATION
  notification:
    topic: CONTEXT_SOURCE_NOTIFICATION
query:
  topic: QUERY
  result:
    topic: QUERY_RESULT
#kafka broker path
bootstrap:
  servers: localhost:9092

key:
  deserializer: org.apache.kafka.common.serialization.StringDeserializer
#Entity Append ovewrite options
append:
  overwrite: noOverwrite
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    restart:
      enabled: true
      
query:
  topic: QUERY
  result:
    topic: QUERY_RESULT

spring:
  kafka:
    admin:
      properties:
        cleanup:
          policy: compact
  main:
    lazy-initialization: true
  application:
    name: subscription-manager
  cloud:
    stream:
      kafka:
        binder:
          brokers: localhost:9092
      bindings:
        SUBSCRIPTIONS_WRITE_CHANNEL:
          destination: SUBSCRIPTIONS
          contentType: application/json
