name: API test against Java version
on: [push,pull_request]
jobs:
  build-java-mqtt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2     
      - name: Set up JDK 1.17
        uses: actions/setup-java@v1
        with:
          java-version: 1.17
      - name: Build testserver
        run: |
          cd testserver
          docker build -t testserver .
      - name: Get release number
        id: get-id
        run: |
          id=$(echo ${{github.ref_name}} | cut -d/ -f2)
          echo "::set-output name=id::$id"
      - name: start mqtt & postgis for unit tests
        run: |
          docker-compose -f ./compose-files/docker-compose-mqtt-postgis.yml up &
          sleep 30
      - name: build-java-with-mqtt
        run: |
          mvn clean package -DskipTests -Pmqtt -Dmqtt -Ddocker -Ddocker-tag=java-mqtt-${{steps.get-id.outputs.id}} -Dos=java -Dquarkus.profile=mqtt
      - name: stop mqtt & postgis for unit tests
        run: |
          docker-compose -f ./compose-files/docker-compose-mqtt-postgis.yml down
      - name: docker tag 
        run: |
          docker tag scorpiobroker/at-context-server:java-mqtt-${{steps.get-id.outputs.id}} scorpiobroker/at-context-server:java-mqtt-latest
          docker tag scorpiobroker/history-entity-manager:java-mqtt-${{steps.get-id.outputs.id}} scorpiobroker/history-entity-manager:java-mqtt-latest
          docker tag scorpiobroker/history-query-manager:java-mqtt-${{steps.get-id.outputs.id}} scorpiobroker/history-query-manager:java-mqtt-latest
          docker tag scorpiobroker/registry-subscription-manager:java-mqtt-${{steps.get-id.outputs.id}} scorpiobroker/registry-subscription-manager:java-mqtt-latest
          docker tag scorpiobroker/registry-manager:java-mqtt-${{steps.get-id.outputs.id}} scorpiobroker/registry-manager:java-mqtt-latest
          docker tag scorpiobroker/subscription-manager:java-mqtt-${{steps.get-id.outputs.id}} scorpiobroker/subscription-manager:java-mqtt-latest
          docker tag scorpiobroker/query-manager:java-mqtt-${{steps.get-id.outputs.id}} scorpiobroker/query-manager:java-mqtt-latest
          docker tag scorpiobroker/entity-manager:java-mqtt-${{steps.get-id.outputs.id}} scorpiobroker/entity-manager:java-mqtt-latest
          docker tag scorpiobroker/all-in-one-runner:java-mqtt-${{steps.get-id.outputs.id}} scorpiobroker/all-in-one-runner:java-mqtt-latest
      - name: start docker aaio 
        run: |
          docker-compose -f ./compose-files/docker-compose-java-aaio-mqtt-test.yml up > dockerout.log &
          sleep 120
      - name: newman action
        uses: matt-ball/newman-action@master
        with:
          collection: api-test.json
          environment: api-test-aaio-environment.json
      - name: Stopping Scorpio
        if: always()
        run: docker-compose -f ./compose-files/docker-compose-java-aaio-mqtt-test.yml down
      - name: print log
        if: always()
        run: |
          cat dockerout.log
  build-java-sqs-aaio:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2     
      - name: Set up JDK 1.17
        uses: actions/setup-java@v1
        with:
          java-version: 1.17
      - name: Install zip
        uses: montudor/action-zip@v1
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.ECR_ID }}
          aws-secret-access-key: ${{ secrets.ECR_TOKEN }}
          aws-region: us-east-1
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registry-type: public
      - name: build-java
        run: |
          mvn clean package -DskipTests -Dsqs -Psqs -Ddocker -Ddocker-tag=java-sqs-finaltest -Dos=java -Dquarkus.profile=sqs
      - name: docker tag
        run: |
          docker tag scorpiobroker/all-in-one-runner:java-sqs-finaltest ${{ steps.login-ecr.outputs.registry }}/scorpiobroker/all-in-one-runner:java-sqs-finaltest
 #     - name: docker push
 #       run: |
 #         docker push ${{ steps.login-ecr.outputs.registry }}/scorpiobroker/all-in-one-runner:java-sqs-finaltest
  build-java-rabbitmq:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2     
      - name: Set up JDK 1.17
        uses: actions/setup-java@v1
        with:
          java-version: 1.17
      - name: Build testserver
        run: |
          cd testserver
          docker build -t testserver .
      - name: Get release number
        id: get-id
        run: |
          id=$(echo ${{github.ref_name}} | cut -d/ -f2)
          echo "::set-output name=id::$id"
      - name: start rabbitmq & postgis for unit tests
        run: |
          docker-compose -f ./compose-files/docker-compose-rabbitmq-postgis.yml up &
          sleep 30
      - name: build-java-with-rabbitmq
        run: |
          mvn clean package -DskipTests -Prabbitmq -Drabbitmq -Ddocker -Ddocker-tag=java-rabbitmq-${{steps.get-id.outputs.id}} -Dos=java -Dquarkus.profile=rabbitmq
      - name: stop rabbitmq & postgis for unit tests
        run: |
          docker-compose -f ./compose-files/docker-compose-rabbitmq-postgis.yml down
      - name: docker tag 
        run: |
          docker tag scorpiobroker/at-context-server:java-rabbitmq-${{steps.get-id.outputs.id}} scorpiobroker/at-context-server:java-rabbitmq-latest
          docker tag scorpiobroker/history-entity-manager:java-rabbitmq-${{steps.get-id.outputs.id}} scorpiobroker/history-entity-manager:java-rabbitmq-latest
          docker tag scorpiobroker/history-query-manager:java-rabbitmq-${{steps.get-id.outputs.id}} scorpiobroker/history-query-manager:java-rabbitmq-latest
          docker tag scorpiobroker/registry-subscription-manager:java-rabbitmq-${{steps.get-id.outputs.id}} scorpiobroker/registry-subscription-manager:java-rabbitmq-latest
          docker tag scorpiobroker/registry-manager:java-rabbitmq-${{steps.get-id.outputs.id}} scorpiobroker/registry-manager:java-rabbitmq-latest
          docker tag scorpiobroker/subscription-manager:java-rabbitmq-${{steps.get-id.outputs.id}} scorpiobroker/subscription-manager:java-rabbitmq-latest
          docker tag scorpiobroker/query-manager:java-rabbitmq-${{steps.get-id.outputs.id}} scorpiobroker/query-manager:java-rabbitmq-latest
          docker tag scorpiobroker/entity-manager:java-rabbitmq-${{steps.get-id.outputs.id}} scorpiobroker/entity-manager:java-rabbitmq-latest
          docker tag scorpiobroker/all-in-one-runner:java-rabbitmq-${{steps.get-id.outputs.id}} scorpiobroker/all-in-one-runner:java-rabbitmq-latest
      - name: start docker aaio 
        run: |
          docker-compose -f ./compose-files/docker-compose-java-aaio-rabbitmq-test.yml up > dockerout.log &
          sleep 120
      - name: newman action
        uses: matt-ball/newman-action@master
        with:
          collection: api-test.json
          environment: api-test-aaio-environment.json
      - name: Stopping Scorpio
        if: always()
        run: docker-compose -f ./compose-files/docker-compose-java-aaio-rabbitmq-test.yml down
      - name: print log
        if: always()
        run: |
          cat dockerout.log
  build-java-kafka:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2     
      - name: Set up JDK 1.17
        uses: actions/setup-java@v1
        with:
          java-version: 1.17
      - name: Build testserver
        run: |
          cd testserver
          docker build -t testserver .
      - name: Get release number
        id: get-id
        run: |
          id=$(echo ${{github.ref_name}} | cut -d/ -f2)
          echo "::set-output name=id::$id"
      - name: start kafka & postgis for unit tests
        run: |
          docker-compose -f ./compose-files/docker-compose-kafka-postgis.yml up &
          sleep 30
      - name: build-java-with-kafka
        run: |
          mvn clean package -DskipTests -Pkafka -Dkafka -Ddocker -Ddocker-tag=java-kafka-${{steps.get-id.outputs.id}} -Dos=java -Dquarkus.profile=kafka
      - name: stop kafka & postgis for unit tests
        run: |
          docker-compose -f ./compose-files/docker-compose-kafka-postgis.yml down
      - name: docker tag 
        run: |
          docker tag scorpiobroker/at-context-server:java-kafka-${{steps.get-id.outputs.id}} scorpiobroker/at-context-server:java-kafka-latest
          docker tag scorpiobroker/history-entity-manager:java-kafka-${{steps.get-id.outputs.id}} scorpiobroker/history-entity-manager:java-kafka-latest
          docker tag scorpiobroker/history-query-manager:java-kafka-${{steps.get-id.outputs.id}} scorpiobroker/history-query-manager:java-kafka-latest
          docker tag scorpiobroker/registry-subscription-manager:java-kafka-${{steps.get-id.outputs.id}} scorpiobroker/registry-subscription-manager:java-kafka-latest
          docker tag scorpiobroker/registry-manager:java-kafka-${{steps.get-id.outputs.id}} scorpiobroker/registry-manager:java-kafka-latest
          docker tag scorpiobroker/subscription-manager:java-kafka-${{steps.get-id.outputs.id}} scorpiobroker/subscription-manager:java-kafka-latest
          docker tag scorpiobroker/query-manager:java-kafka-${{steps.get-id.outputs.id}} scorpiobroker/query-manager:java-kafka-latest
          docker tag scorpiobroker/entity-manager:java-kafka-${{steps.get-id.outputs.id}} scorpiobroker/entity-manager:java-kafka-latest
          docker tag scorpiobroker/all-in-one-runner:java-kafka-${{steps.get-id.outputs.id}} scorpiobroker/all-in-one-runner:java-kafka-latest
      - name: start docker aaio 
        run: |
          docker-compose -f ./compose-files/docker-compose-java-aaio-kafka-test.yml up > dockerout.log &
          sleep 120
      - name: newman action
        uses: matt-ball/newman-action@master
        with:
          collection: api-test.json
          environment: api-test-aaio-environment.json
      - name: Stopping Scorpio
        if: always()
        run: docker-compose -f ./compose-files/docker-compose-java-aaio-kafka-test.yml down
      - name: docker-login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: docker tag and push
        run: |
          docker tag scorpiobroker/all-in-one-runner:java-kafka-latest scorpiobroker/all-in-one-runner:java-kafka-hotfix
          docker push scorpiobroker/all-in-one-runner:java-kafka-hotfix
      - name: print log
        if: always()
        run: |
          cat dockerout.log
#      - name: start docker dist 
#        run: |
#          docker-compose -f ./compose-files/docker-compose-java-dist-kafka-test.yml up &
#          sleep 120
#      - name: newman action
#        uses: matt-ball/newman-action@master
#        with:
#          collection: api-test.json
#          environment: api-test-dist-environment.json
#      - name: Stopping Scorpio 
#        run: docker-compose -f ./compose-files/docker-compose-java-dist-kafka-test.yml down
  build-java-aaio:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2     
      - name: Set up JDK 1.17
        uses: actions/setup-java@v1
        with:
          java-version: 1.17
      - name: Build testserver
        run: |
          cd testserver
          docker build -t testserver .
      - name: Get release number
        id: get-id
        run: |
          id=$(echo ${{github.ref_name}} | cut -d/ -f2)
          echo "::set-output name=id::$id"
      - name: start kafka & postgis for unit tests
        run: |
          docker-compose -f ./compose-files/docker-compose-postgis.yml up &
          sleep 30
      - name: build-java
        run: |
          mvn clean package -DskipTests -Din-memory -Pin-memory -Ddocker -Ddocker-tag=java-${{steps.get-id.outputs.id}} -Dos=java -Dquarkus.profile=in-memory
      - name: stop postgis for unit tests
        run: |
          docker-compose -f ./compose-files/docker-compose-postgis.yml down
      - name: docker tag
        run: |
          docker tag scorpiobroker/all-in-one-runner:java-${{steps.get-id.outputs.id}} scorpiobroker/all-in-one-runner:java-latest
      - name: start docker aaio 
        run: |
          docker-compose -f ./compose-files/docker-compose-java-aaio-test.yml up > dockerout.log &
          sleep 120
      - name: newman action
        uses: matt-ball/newman-action@master
        with:
          collection: api-test.json
          environment: api-test-aaio-environment.json
      - name: Stopping Scorpio 
        if: always()
        run: docker-compose -f ./compose-files/docker-compose-java-aaio-test.yml down 
      - name: docker-login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: docker tag and push
        run: |
          docker tag scorpiobroker/all-in-one-runner:java-latest scorpiobroker/all-in-one-runner:java-hotfix
          docker push scorpiobroker/all-in-one-runner:java-hotfix
      - name: print log
        if: always()
        run: |
          cat dockerout.log
